[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "*"
pyside6 = "*"
requests = "*"
httpx = "*"
#qt-material = "*"
#pyinstaller = "*"
pillow = "*"
#kivy = { extras = ["base"], version = "*" }
easygui = "*"
pygame = "*"
colorama = "*"
faker = "*"
pymongo = "*"
sqlalchemy = "*"
psycopg2 = "*"
sqlalchemy-utils = "*"
retry = "*"
[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
