[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "*"
pyside6 = "*"
requests = "*"
httpx = "*"
#qt-material = "*"
#pyinstaller = "*"
pillow = "*"
#kivy = {extras = ["base"], version = "*"}
easygui = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
